# artefacts
.eslintcache
.npm
.nyc_output
*.log
logs/
node_modules/
coverage/
build/
dist/

# ide
.bak
*.swp
*~
*#

# spam
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini


# dotenv
.env

# Yarn
.yarn/
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# PnP files (in case of switching back)
.pnp.*